

<h1>Basic Operations </h1>
<p>Queue operations may involve initializing or defining the queue, 
    utilizing it, and then completely erasing it from the memory. 
    Here we shall try to understand the basic operations associated with queues −</p>


<p><b>Enqueue - Push</b> − add (store) an item to the queue.</p>

<p><b>Dequeue - Pop</b> − remove (access) an item from the queue.</p>

<p>Few more functions are required to make the above-mentioned queue operation efficient. These are −

peek() − Gets the element at the front of the queue without removing it.

isfull() − Checks if the queue is full.

isempty() − Checks if the queue is empty.

In queue, we always dequeue (or access) data, pointed by front pointer and while enqueing (or storing) data in the queue we take help of rear pointer.
</p>

<p><b> peek()</b>
        This function helps to see the data at the front of the queue. The algorithm of peek() function is as follows − </p>


        <p>
                <b>isfull()</b>
                As we are using single dimension array to implement queue, we just check for the rear pointer to reach at MAXSIZE to determine that the queue is full. In case we maintain the queue in a circular linked-list, the algorithm will differ. Algorithm of isfull() function −

                      </p>


