<h1>Queue Details</h1>

<ul *ngIf="queueDetails">
    
  <li *ngFor="let queue of queueDetails">
 
    <div style="float:left;">
        {{ queue.name }} 
 </div>
     

    <!--<button (click)="pushMessage()">Push Message</button> -->
<div style="float:right">
        <input  (click)="pushMessage()"  type="submit" value="Push Message" class="cta">
        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        <input  (click)="popMessage()"  type="submit" value="Pop Message" class="cta">
    
</div>
    
    
  </li>
</ul>
